.pasteTooltip {
  position: absolute;
  top: -30px;
  right: -90px;
}

.pasteTooltipTitle {
  background-color: var(--ifm-font-color-base);
  color: var(--surface);
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: var(--font-size-100);
  border-radius: var(--border-radius-500);
  opacity: 0.8;
}
